<app-header [title]=headerTitle [subtitle]=subTitle></app-header>

<ion-content class="ion-padding">
  <form [formGroup]="frmInsertPerson">

    <ion-item class="ion-no-padding">
      <ion-label position="stacked">Nombre:</ion-label>
      <ion-input type="text" formControlName="firstName" required></ion-input>
    </ion-item>
    <div class="divErrorMessage">
      <ion-label *ngIf="firstNameFv.hasError('required') && firstNameFv.dirty">Este campo es requerido</ion-label>
    </div>

    <ion-item class="ion-no-padding">
      <ion-label position="stacked">Apellidos:</ion-label>
      <ion-input type="text" formControlName="surName" required></ion-input>
    </ion-item>
    <div class="divErrorMessage">
      <ion-label *ngIf="surNameFv.hasError('required') && surNameFv.dirty">Este campo es requerido</ion-label>
    </div>

    <ion-item class="ion-no-padding">
      <ion-label position="stacked">Fecha de nacimiento:</ion-label>
      <ion-datetime displayFormat="YYYY-MM-DD" type="date" formControlName="birthDate" required></ion-datetime>
    </ion-item>
    <div class="divErrorMessage">
      <ion-label *ngIf="birthDateFv.hasError('required') && birthDateFv.dirty">Este campo es requerido</ion-label>
    </div>

    <ion-list>
      <ion-radio-group formControlName="gender">
        <ion-list-header>
          <ion-label>Genero</ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label>Masculino</ion-label>
          <ion-radio slot="start" value="1"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Femenino</ion-label>
          <ion-radio slot="start" value="0"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-item class="ion-no-padding">
      <ion-label position="stacked">Estatura:</ion-label>
      <ion-select okText="Aceptar" cancelText="Cancelar" formControlName="height" required>
        <ion-select-option value="Normal">Normal</ion-select-option>
        <ion-select-option value="Alto">Alto</ion-select-option>
        <ion-select-option value="Bajo">Bajo</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-list>
      <ion-item *ngFor="let value of arrayLanguage" >
        <ion-label class="size-text">{{value.name}}</ion-label>
        <ion-checkbox slot="end"></ion-checkbox>
      </ion-item>
    </ion-list>

    <ion-button type="submit" expand="block" color="dark" (click)="sendFrmPerson()">Registrar datos</ion-button>


  </form>

</ion-content>