<app-header [title]=headerTitle [subtitle]=subTitle></app-header>
<ion-content class="ion-padding">
    <img class="logo-jmm" src="https://scontent.faqp2-1.fna.fbcdn.net/v/t1.18169-9/13892074_519758971563629_5686199950589949527_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeHC3EwHUQgq2iRplvqgBAbgOEDTHHoqfeo4QNMceip96iMaSCmZlipmWxlfS9-qDcpA658VAauiyfMHhhptdShS&_nc_ohc=GAGNkowYAooAX8isypX&_nc_ht=scontent.faqp2-1.fna&oh=00_AT90Jpam4ZcbpFrVt2PpA-n6cZHyQ82D7TjGXvCXZnNPoA&oe=624263A4" alt="">
</ion-content>